<div class="instagram-section color_background_light">
	<div class="container">
		<h3 class="align-center">Check the latest instagram posts</h3>


	</div>
</div>

{% schema %}
{
    "name": "Instagram",
    "settings": [],
    "presets": [
        {
            "name": "Instagram"
        }
    ]
}
{% endschema %}